<form [formGroup]="form" id="side-model" style="margin-top:20px">
  <div *ngIf="areaSection" fxLayout="row" fxLayoutAlign="end end">
    <md-icon svgIcon="arrow_back" (click)="toggleAreaSection()" class="icon-20" style="cursor:pointer"></md-icon>
  </div>
  <div>
    <div *ngIf="!areaSection" fxLayout="column">
     
      <div fxLayout="row">
        <div class="mb-1" fxFlex="100">
          <div class="suzlon-input" style="width:100%">
            <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">Site
              <small style="color: red;">*</small>
            </span>
            <input class="suzlon-input" style="width: 98.5%;padding: 5px;border-radius: 4px;" type="text" [formControl]="form.controls['SITE']"
              required="true">
            <small *ngIf="form.controls['SITE'].hasError('required') && form.controls['SITE'].touched" class="mat-text-warn">Required</small>
          </div>
        </div>  
      </div>
     
     
     
      <div fxLayout="row">
        <div class="mb-1" fxFlex="100">
          <div class="suzlon-input" style="width:100%">
            <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">Country
              <small style="color: red;">*</small>
            </span>
            <select class="suzlon-input" style="width: 100%;padding: 5px;border-radius: 4px;" [formControl]="form.controls['COUNTRY']"
              [(ngModel)]="selectedCountry" (change)="onCountryChange()" required="true">
              <option *ngFor="let country of countryList" [value]="country.id">
                {{ country.name }}
              </option>
            </select>
            <small *ngIf="form.controls['COUNTRY'].hasError('required') && form.controls['COUNTRY'].touched" class="mat-text-warn">Required</small>
          </div>
        </div>
      </div>
      <div fxLayout="row">
          <div class="mb-1" fxFlex="100">
              <div class="suzlon-input" style="width:100%">
                <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">State
                  <small style="color: red;">*</small>
                </span>
                <select class="suzlon-input" style="width: 100%;padding: 5px;border-radius: 4px;" [formControl]="form.controls['stateCtrl']"
                  required="true" [(ngModel)]="selectedState" (change)="onStateChange()">
                  <option *ngFor="let state of stateList" [value]="state.id">
                    {{ state.name }}
                  </option>
                </select>
                <small *ngIf="form.controls['stateCtrl'].hasError('required') && form.controls['stateCtrl'].touched" class="mat-text-warn">Required</small>
              </div>
          </div>    
      </div> 

      <div fxLayout="row">
        <div class="mb-1" fxFlex="100">
          <div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div class="suzlon-input" style="width:60%">
                <div style="width:60%">
                  <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">Area/District
                    <small style="color: red;">*</small>
                  </span>
                  <select class="suzlon-input" style="width: 160%;padding: 5px;border-radius: 4px;" [formControl]="form.controls['AREA_DISTRICT']"
                    [(ngModel)]="area_from_site" required="true">
                    <option *ngFor="let area of areas" [value]="area.id">
                      {{ area.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div fxLayout="row" style="margin-top:18px">
                <md-icon mdSuffix svgIcon="plus-circle" (click)="toggleAreaSection()" class="icon-20" style="margin-top:5px;cursor:pointer"></md-icon>
              </div>
            </div>
            <small *ngIf="form.controls['AREA_DISTRICT'].hasError('required') && form.controls['AREA_DISTRICT'].touched" class="mat-text-warn">Required</small>
          </div>
        </div>
      </div>
      <div fxLayout="row">
          <div class="mb-1" fxFlex="100">
              <div fxLayout="column">
                <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">Substations
                  <small style="color: red;">*</small>
                </span>
                <div style="margin-top:-7px">
                  <span class="ui-fluid">
                    <!-- <p-autoComplete [suggestions]="substations" [minLength]="1" field="name"  [formControl]="substationCtrl">
                  </p-autoComplete> -->
                    <!-- <p-autoComplete [formControl]="form.controls['substationCtrl']" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)"
                      [minLength]="1" field="name" [multiple]="true" appendTo="body">
                    </p-autoComplete> -->
                    <p-multiSelect [options]="substations" [formControl]="form.controls['substationCtrl']" (onChange)="changeSubstations(selectedSubstations)" appendTo="body"></p-multiSelect>
                  </span>
                </div>
              </div>
            </div>
      </div>
      <div fxLayout="row">
          <div class="mb-1" fxFlex="100">
              <div class="suzlon-input" style="width:100%">
                <span style="font-size:13px;color: rgba(0, 0, 0, 0.54);padding-bottom: 8px;">Status
                  <small style="color: red;">*</small>
                </span>
                <select class="suzlon-input" style="width: 100%;padding: 5px;border-radius: 4px;" [formControl]="form.controls['STATUS']"
                  required="true">
                  <option *ngFor="let status of statusList" [value]="status">
                    {{ status }}
                  </option>
                </select>
                <small *ngIf="form.controls['STATUS'].hasError('required') && form.controls['STATUS'].touched" class="mat-text-warn">Required</small>
              </div>
            </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button md-raised-button color="accent" (click)='closeDialog()'>Cancel</button>
        <button md-raised-button color="primary" (click)="createSite()" style="margin-left: 10px" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </div>
  </div>
  <p-dialog header="Message" [(visible)]="display" modal="modal" width="300" [responsive]="true" appendTo="body">
    <p>{{Notification}}</p>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="onNotification()" label="Ok"></button>
    </p-footer>
  </p-dialog>
  <div *ngIf="areaSection">
    <create-area (toggle)="onToggle($event)" (area_site)="onNotify($event)" [country_site]="this.form.value.COUNTRY" [state_site]="this.form.value.stateCtrl"></create-area>
  </div>
</form>