<md-content class="md-padding">
    <div style="margin-top:-20px;">
        <div class="ui-widget-header">
            <div fxLayout="row" fxLayoutAlign="space-between" style="padding:6px 10px;">
                <div fxLayout="row" fxGap="5px">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input [(ngModel)]="searchTerm" (ngModelChange)="search()" type="text" pInputText size="30" placeholder="Search By substation name">
                    <div *ngIf="substationList != undefined && substationList != null" style="font-size: 12px; margin-top: auto;margin-bottom: auto;margin-left:10px;">Total Count {{substationList.length}}</div>
                </div>

                <div fxLayout="row" (click)="createSubstation()">

                    <md-icon class="material-icons" style="color: #00968c;cursor: pointer;">add_box</md-icon>
                    <div style="margin-top: 2px;color: #00978c;text-decoration: underline;cursor: pointer;">Add New Substation</div>
                </div>
            </div>

        </div>
        <p-dataTable [value]="substationList" [rows]="10" [paginator]="true" [responsive]="true" [editable]="true" [immutable]="false" [globalFilter]="gb" sortMode="multiple">
            <p-column field="name" header="Name" [editable]="true" [sortable]="true">
                <ng-template pTemplate="header">
                    Name
                    <small style="color: red;">*</small>
                </ng-template>
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                    <input type="text" [disabled]="row.status == 'Started' || row.status =='Approved' || row.status == 'Completed'" (change)="showSaveButton(row.index)" placeholder="Substation Name" pInputText [(ngModel)]="row[col.field]" style="margin-bottom:4px" />
                </ng-template>
            </p-column>
            <p-column header="Already exist" [style]="{'width':'80px'}">
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                    <input type="checkbox" [disabled]="row.status == 'Started' || row.status =='Approved' || row.status == 'Completed'" [checked]="row.already_existsFlag" [(ngModel)]="row.already_existsFlag" (change)="showSaveButton(row.index)" />
                </ng-template>
            </p-column>
            <p-column field="planned_start_date" header="Planned Start Date" [editable]="true" [style]=" {'overflow':'visible' }" [sortable]="true">
                <ng-template pTemplate="header">
                    Planned Start Date
                </ng-template>
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <div [hidden]="row.already_existsFlag == true">{{row[col.field]|date:'dd-MMM, yyyy' }}</div>
                </ng-template>
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                    <p-calendar dateFormat="dd-M,yy" [disabled]="row.status == 'Started' || row.status =='Approved' || row.status == 'Completed'" [hidden]="row.already_existsFlag == true" [(ngModel)]="row[col.field]" [disabled]="row.already_existsFlag" appendTo="body" (onSelect)="showSaveButton(row.index)"></p-calendar>
                </ng-template>
            </p-column>
            <p-column field="planned_end_date" header="Planned End Date" [editable]="true" [style]=" {'overflow':'visible' }" [sortable]="true">
                <ng-template pTemplate="header">
                    Planned End Date
                </ng-template>
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <div [hidden]="row.already_existsFlag == true">{{row[col.field]|date:'dd-MMM, yyyy' }}</div>
                </ng-template>
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                    <p-calendar dateFormat="dd-M,yy" [disabled]="row.status == 'Started' || row.status =='Approved' || row.status == 'Completed'" [hidden]="row.already_existsFlag == true" [(ngModel)]="row[col.field]" [disabled]="row.already_existsFlag" appendTo="body" (onSelect)="showSaveButton(row.index)"></p-calendar>
                </ng-template>
            </p-column>
            <p-column field="status" header="Status" [editable]="true" [sortable]="true">
                <ng-template pTemplate="header">
                    Status
                </ng-template>
                <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                    <p-dropdown [disabled]="row.status == 'Started' || row.status =='Approved' || row.status == 'Completed'" [(ngModel)]="row[col.field]" (onChange)="showSaveButton(row.index)" [options]="status_arr" [autoWidth]="false" [style]="{'width':'100%'}" required="true"
                        appendTo="body"></p-dropdown>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'width':'80px'}">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template let-rowData="rowData" pTemplate="body" let-rowIndex="rowIndex">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <md-icon *ngIf="rowData.saveFlag" (click)="saveEditSubstation(rowData,rowData.index)" class="icon-20 material-icons" style="cursor: pointer;font-size: 20px;color: #103a84;">save</md-icon>
                        <md-icon *ngIf="rowData.saveFlag == false" class="icon-20 material-icons" style="cursor: no-drop;font-size: 20px;color: gray;">save</md-icon>
                    </div>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'width':'80px'}">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template let-rowData="rowData" pTemplate="body" let-rowIndex="rowIndex">
                    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <md-icon *ngIf="rowData.id == null || rowData.id == 0" (click)="deleteEmptyRow(rowIndex)" class="icon-20 material-icons" style="cursor: no-drop;font-size: 20px;color: gray;">delete</md-icon>
                        <div *ngIf="rowData.id !== null && rowData.id !== 0 && rowData.status != 'Started' && rowData.status != 'Completed' && rowData.status != 'Approved'" (click)="startSubstation(rowData.id,rowData.name)" style="background: #1b5e20;padding: 2px 10px; border-radius: 4px;cursor: pointer;border: 1px solid #1e9c90;">
                            <a style="color:#fff">Start</a>
                        </div>
                        <div *ngIf="rowData.id !== null && rowData.id !== 0 && rowData.status == 'Completed'" (click)="approveSubstation(rowData.id)" style="background: #1b5e20;padding: 2px 10px; border-radius: 4px;cursor: pointer;border: 1px solid #1e9c90;">
                            <a style="color:#fff">Approve</a>
                        </div>
                        <div *ngIf="rowData.status == 'Approved' && rowData.summary" class="green-circle">{{rowData.summary.ok}}</div>
                        <div *ngIf="rowData.status == 'Approved'  && rowData.summary" class="red-circle">{{rowData.summary.not_ok}}</div>
                        <div *ngIf="rowData.status == 'Approved' && rowData.summary" class="gray-circle">{{rowData.summary.todo}}</div>
                        <md-icon *ngIf="rowData.status == 'Approved' && rowData.summary" (click)="openChecklists(rowData.summary.location_id,rowData.summary.stage_id)" class="icon-20 material-icons" style="cursor: pointer;color:gray;margin-top: 12px;font-size: 20px;">visibility</md-icon>

                        <div *ngIf="rowData.status == 'Started'  && rowData.summary" class="green-circle">{{rowData.summary.ok}}</div>
                        <div *ngIf="rowData.status == 'Started'  && rowData.summary" class="red-circle">{{rowData.summary.not_ok}}</div>
                        <div *ngIf="rowData.status == 'Started'  && rowData.summary" class="gray-circle">{{rowData.summary.todo}}</div>
                        <md-icon *ngIf="rowData.status == 'Started' && rowData.summary" (click)="openChecklists(rowData.summary.location_id,rowData.summary.stage_id)" class="icon-20 material-icons" style="cursor: pointer;color:gray;margin-top: 12px;font-size: 20px;">visibility</md-icon>
                    </div>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'width':'80px'}">
                <ng-template pTemplate="header">
                    Substation Certificate
                </ng-template>
                <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                    <a style="color: #00978c;text-decoration: underline;cursor: pointer;" *ngIf="row.status == 'Approved' && row.summary && row.isUsed == 1" (click)="generateSubstationCertificate(row)">Generate Substation Certificate</a>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" appendTo="body"></p-confirmDialog>
    <p-dialog header="Message" [(visible)]="display" modal="modal" width="300" [responsive]="true" appendTo="body">
        <p>{{Notification}}</p>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="onNotification()" label="Ok"></button>
        </p-footer>
    </p-dialog>

</md-content>