 <md-content class="md-padding">
            <div style="margin-top:10px;">
                <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;text-align: end;">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Search">
                </div>
                <p-dataTable *ngIf="userList.length > 0" [value]="userList"  [rows]="10" [paginator]="true"  [tableStyle]="{'width':'auto'}"  [responsive]="true" [editable]="true" [globalFilter]='gb' [immutable]="false" sortMode="multiple">
                    <p-column field="employee_id" header="Domain ID" [sortable]="true" [style]="{'width':'100px'}"></p-column>
                    <p-column field="name" header="Name" [sortable]="true" [style]="{'width':'225px'}"></p-column>
                    <p-column field="email" header="Email Id" [style]="{'width':'250px','word-wrap': 'break-word'}"></p-column> 
                    <p-column field="department" header="Department" [editable]="true" [style]="{'width':'200px'}" [sortable]="true">
                    <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">                              
                    <p-dropdown [(ngModel)]="row[col.field]"  (onChange)="deptChange(row.index,row)" [options]="departments" [autoWidth]="false" [style]="{'width':'100%'}"
                    required="true" appendTo="body"></p-dropdown>
                    </ng-template>
                    </p-column>
                    <p-column field="role" header="Role" [editable]="true" [sortable]="true" [style]="{'width':'100px'}">
                        <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                        <p-dropdown placeholder="Select Role" [(ngModel)]="row[col.field]" (onFocus)="updateRolesByDept(row)" (onChange)="showSaveButton(row.index,row)"  [options]="roles" [autoWidth]="false" [style]="{'width':'100%'}"
                        required="true" appendTo="body"></p-dropdown>
                    </ng-template>
                    </p-column>
                    <p-column header="Dashboard User" field="is_dashboard_user">
                        <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="body">
                                <md-checkbox (change)="setDashboardUser(i)" [(ngModel)]="row[col.field]" ></md-checkbox>
                        </ng-template>
                    </p-column>
                    <!-- <p-column field="STATUS" header="Status"></p-column> -->
                    <p-column field="status" header="Status" [editable]="true" [sortable]="true" [style]="{'width':'100px'}">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            {{row[col.field]}}
                        </ng-template>
                         <ng-template let-col let-row="rowData" let-i="rowIndex" pTemplate="editor">
                            <p-dropdown [(ngModel)]="row[col.field]" (onChange)="showSaveButton(row.index)" [options]="status_arr" [autoWidth]="false" [style]="{'width':'100%'}"
                                required="true" appendTo="body"></p-dropdown>
                        </ng-template> 
                    </p-column>
                    <p-column styleClass="col-button" [style]="{'width':'80px'}">
                        <ng-template pTemplate="header">
                            Action
                        </ng-template>
                        <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
                            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
                                <md-icon *ngIf="rowData.saveFlag" (click)="saveEditUser(rowData,rowData.index)" class="icon-20 material-icons" style="cursor: pointer;font-size: 20px;color: #23375b;">save</md-icon>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </md-content>
        <p-dialog header="Message" [(visible)]="display" modal="modal" width="300" [responsive]="true" appendTo="body">
                <p>{{Notification}}</p>
                <p-footer>
                    <button type="button" pButton icon="fa-check" (click)="onNotification()" label="Ok"></button>
                </p-footer>
        </p-dialog>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" appendTo="body"></p-confirmDialog>