@import "scss/material.variables";
@import "scss/material.themes";
@import "scss/mixins/bi-app/bi-app-ltr";
// Core Variables and Mixins
@import "scss/app.variables";
@import "scss/mixins";
// Core Styles
@import "scss/core";
@import "scss/material";
@import "scss/utilities/utilities";



// #surveyElement {	
//  	@import "scss/_bootstrap.css";
// }		
.mat-text-warn{
	font-size:14px;
}

.mat-tooltip {
	font-size: 14px !important;
	white-space: pre-line    !important;
}


.dropdown-label
{
	margin-left: 5px;
    color: #787676;
    font-size: 13px;
}
.md-toolbar.main-header .logo{
	background-size: 173px 55px !important;
}
.mat-dialog-content{
	margin: 0 0 !important;

}
.mat-dialog-container {
	padding: 0 !important;
}
.mat-dialog{
	max-width: 100%;
}
.mat-menu-content{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.mat-menu-panel{
	overflow:hidden !important;
}
label{
	font-weight: 500px !important;
}
.mat-toolbar-layout{
	width:100%;
}
.suzlon-blue-fg{
	color:#23375b !important;
}
.suzlon-green-fg{
	color:#10673a !important;
}
.suzlon-black-fg{
	color:#2B2A29 !important;
}
.suzlon-gray-fg{
	color:#5B5B5B !important;
}
.suzlon-blue-bg{
	background:#23375b !important; 
}
.ui-datatable .ui-datatable-thead > tr > th {
	font-size: 13px !important;
	font-weight: normal !important;
}

.ui-tree .ui-treenode-icon {
    display: inline-block;
    vertical-align: middle;
    color: #f5d36f;
}
.suzlon-green-bg{
	background: #10673a !important;
}
.suzlon-black-bg{
background: #2B2A29 !important;
}
.suzlon-gray-bg{
	background: #5B5B5B !important;
}
.suzlon-button{
	box-shadow: none !important;
    background: #fff !important;
    color: #10673a !important;
	border: 2px solid #10673a !important;
	border-radius: 7px !important;
	font-weight: bold !important;
	&:hover{
		color:#fff !important;
		background:#10673a !important;
		border: none; 
		svg{
		 fill:#fff !important;	
		}
	}
}
.suzlon-button-small{
	box-shadow: none !important;
    background: #fff !important;
    color: #10673a !important;
	border: 2px solid #10673a !important;
	border-radius: 7px !important;
	font-weight: bold !important;
	line-height: 30px;
	font-size: 13px;
    padding: 0 12px;
	&:hover{
		color:#fff !important;
		background:#10673a !important;
		border: none; 
		svg{
		 fill:#fff !important;	
		}
	}
}
.suzlon-input input[type="text"] {
  display: block;
    margin: 0;
    width: 98%;
    padding: 7px;
    font-family: sans-serif;
    font-size: 14px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
    border-radius: 4px;
}
.suzlon-input input[type="text"]:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.suzlon-input input[type="email"] {
	display: block;
	  margin: 0;
	  width: 98%;
	  padding: 7px;
	  font-family: sans-serif;
	  font-size: 14px;
	  border: solid 1px #dcdcdc;
	  transition: box-shadow 0.3s, border 0.3s;
	  border-radius: 4px;
  }
  .suzlon-input input[type="email"]:focus {
	outline: none;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
  }

.suzlon-input input[type="select"] {
	display: block;
	  margin: 0;
	  width: 100%;
	  padding: 7px;
	  font-family: sans-serif;
	  font-size: 14px;
	  border: solid 1px #dcdcdc;
	  transition: box-shadow 0.3s, border 0.3s;
	  border-radius: 4px;
  }
  .suzlon-input input[type="select"]:focus {
	outline: none;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
  }









.suzlon-input input[type="number"] {
	display: block;
	  margin: 0;
	  width: 100%;
	  padding: 7px;
	  font-family: sans-serif;
	  font-size: 14px;
	  border: solid 1px #dcdcdc;
	  transition: box-shadow 0.3s, border 0.3s;
	  border-radius: 4px;
  }
  .suzlon-input input[type="number"]:focus {
	outline: none;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
  }
.suzlon-input textarea {
    width: 100%;
    height: 75px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    resize: vertical;
}
.mat-radio-container{
	height:18px !important;
	width: 18px !important;
}
.mat-radio-checked .mat-radio-outer-circle{
	border-color: #10673a !important;
}
.mat-radio-outer-circle{
	height:18px !important;
	width: 18px !important;
}	
.mat-radio-inner-circle{
	background-color:#10673a !important;
	height:18px !important;
	width: 18px !important;
}
.mat-radio-label-content{
	font-size: 11px;
    margin-top: 3px;
}
.mat-radio-label{
	align-items: center !important;
}
.mat-checkbox-inner-container {
	height: 18px !important;
	width: 18px !important; 
}
.mat-checkbox-label{
	font-size: 11px;
}	
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
	background-color:#10673a !important;
}
.mat-input-infix{
	font-size:12px !important;
}
.compact-sidebar md-sidenav.sidebar-panel .navigation > .mat-list-item > .mat-list-item-content{
	&:hover{
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
	}	
	> a{
		color: #23375b;
		&:hover{
			background: #23375b !important;
			color: #fff !important;
			font-weight: bold !important;
		}
	}
}
.opened {
   background: #23375b !important;
   font-weight: bold !important;
	a{
		color: #fff !important;
	 }
	 md-icon{
      color: #fff !important;
	 }
}
md-sidenav.sidebar-panel .sub-menu a {
    padding-left: 20px !important;
}
.hide-element{
	display: none !important;
}
.mat-dialog-container {
	max-width: 100vw !important;
}
@media (min-width: 960px){
  .compact-sidebar md-sidenav.sidebar-panel.mat-sidenav-opened ~ .mat-sidenav-content {
		overflow-x: hidden !important;
		margin-left: 100px !important;
	}
}
// .mat-tooltip{
// 	color:#000 !important;
// 	background: #9FDAEE;
// 	border: 1px solid #2BB0D7;
//     padding:6px 8px;
//     border-radius:2px;
//     font-family:Roboto,"Helvetica Neue",sans-serif;
//     font-size:12px !important;
//     margin:14px;
//     max-width:200px !important;
// } 
#site-creation, #feeder-creation, #side-model{
  .mat-chip-list-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap !important;
		align-items: flex-start;
	}
}
#site-dropdown{
	.ui-dropdown {
       width:275px !important;
	}
	margin-bottom: 14px;
}
#master{
 .ui-datatable tr{
		height: 28px !important;
	}
}


.ngx-datatable.material .datatable-body .datatable-body-row{
	border-top: 1px solid #eaeaea !important;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
	font-size:12px;
	padding: 5px 1.2rem; 
}
.ngx-datatable .datatable-footer .datatable-footer-inner {
 font-size: 12px;
}	
.ngx-datatable.material .datatable-header {
    border-bottom: none;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    font-weight: bold;
    //background: #5B5B5B;
    //color: #fff;
}

//
a.c-inline-editor {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  line-height: 2;
  margin-right: 5px;
  margin-left: 5px;
}
.c-inline-editor.editable-empty,
.c-inline-editor.editable-empty:hover,
.c-inline-editor.editable-empty:focus,
.c-inline-editor.a.editable-empty,
.c-inline-editor.a.editable-empty:hover,
.c-inline-editor.a.editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  text-decoration: none;
}

.c-inline-editor.inlineEditForm {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}

#inlineEditWrapper {
  display: inline-block;
}

.c-inline-editor.inlineEditForm input,
.c-inline-editor.select {
  width: auto;
  display: inline;
}

.c-inline-editor.inline-editor-button-group {
  display: inline-block;
}

.c-inline-editor.editInvalid {
  color: #a94442;
  margin-bottom: 0;
}

.c-inline-editor.error {
  border-color: #a94442;
}

[hidden].c-inline-editor {
  display: none;
}
textarea {
    width: 100%;
    height: 75px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    resize: vertical;
} 

.inline-editor-button-group{
	>button:first-child {
		width:20px;
		height: 20px;
		background: #4c964c;
    	color: #fff;
		span:after{
			content: '+';
		}
	}
	>button:last-child {
		width:20px;
		height: 20px;
		background: #e84444;
        color: #fff;
		span:after{
			content: 'x';
		}
	}	
}
.ui-datatable .ui-datatable-data>tr>td {
	padding: 4px !important;
    font-size: 12px !important;
}
app-checklist , #assign-project{
  .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
	background-color: #fff !important;
  }
}
.ui-dialog .ui-dialog-footer button.ui-button {
	border:none;
    background-color:#1b5e20 !important;
    color: #fff !important;; /* Text color for the button */
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #fff !important;
}

/* Change header color */
.ui-dialog .ui-dialog-titlebar {
	border:none;
    background-color: #1b5e20 !important;
    color: white !important;; /* Text color for the header */
}
.ui-dialog {
    border: none !important;
}
.ui-paginator .ui-paginator-page.ui-state-active{
	background-color: #1b5e20 !important;
}
#location-plan{
	.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
		background-color: #fff !important;
	}
}
.ui-datatable .ui-datatable-thead>tr>th{
	font-size: 14px;
    font-weight: bold;
}
.ui-widget-header{
	cursor: default !important;
	background: #f6f7f9 0 0 repeat-x !important;
}	
.ui-rowgroup-header-name{
	width: 100% !important;
}

#stages_ins, #question-list{
	.mat-tab-label {
        line-height: 28px !important;
        height: 28px !important;
        padding: 0 12px !important;
        font-size: 12px;
        min-width: 125px !important;
	}
	.mat-tab-header {
		border-bottom: 1px solid rgb(89, 187, 178) !important;
	}
	.mat-tab-body-wrapper{
		padding-bottom: 8px !important;
		background: #fff !important;
        padding: 10px !important;
	}
	.mat-tab-body-content {
		height: 100%;
		overflow: visible !important;
		margin: 0 12px !important;
	}
}
#assign-project{
	.mat-list .mat-list-item.mat-2-line .mat-list-item-content{
		height: auto !important;
        padding: 6px !important;
	}
	.ui-datatable{
		margin: 0px !important;
	}
}
#advance-chart-project-ins{
   .item-percent{
		font-size: 14px !important;
	}
	.item-label{
			font-size: 12px !important;
	}
	.item-value, .total-value{
		font-size: 16px !important;
	}
	.total-label{
	font-size: 14px !important;
	}
}
#main-toolbar{
	.mat-toolbar-row {
		justify-content: space-between !important;
		display: flex;
		box-sizing: border-box;
		width: 100%;
		flex-direction: row;
		align-items: center;
		white-space: nowrap;
	}
}
#user-search{
	.ui-widget input{
		width:300px !important;
	}
}

.cdk-overlay-pane {
    margin-top: 0px;
    margin-right: 0px;
}
.mat-dialog-container{
  height: auto !important;
}
.toast {
	font-size: 13px !important;; /* Adjust the font size as needed */
	font-family: inherit !important;; /* Maintain the same font family as the default */
	color: white !important; /* Maintain the default text color */
  }
  
  /* Override the font size for Toastr title */
  .toast-title {
	font-size: 15px !important; /* Adjust the title font size as needed */
  }
  .toast-success {
	background-color:#1d9026 !important;;
  }
  #toast-container>div {
	opacity: 1 !important;
	box-shadow: none !important;
	border-radius: 14px !important;
	padding: 5px 5px 5px 50px;
  }
  .toast-top-right {
    top: 12px !important;
    right: 20px !important;
}
