<div style="background:#26a69a;height:40px;" color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <div fxFlex class="header-text"
        style="font-size: 19px;font-weight: 500;margin-top: 8px;margin-left: 10px;color:white;">Upload Document
        Headers,Footers and First Page </div>
    </div>
    <div>
      <md-icon class="material-icons mat-icon"
        style=" width: calc(100% - 30px);margin-top: 12px;text-align: end;cursor:pointer;font-size: 18px;color:white;margin-right: 10px;"
        (click)="closeDialog()">close</md-icon>
    </div>
  </div>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="space-between" style="padding:15px 25px">
    <div style="width: 22%;">Header </div>
    <div fxLayout="column">
      <input type="file" (change)="changeHeaderFile($event)" />
    </div>
    <div>
      <button md-raised-button color="primary" [disabled]="disable_header_button" (click)="uploadHeaderFile()"
        style="margin-left: 10px;box-shadow: none;color:#fff">Upload</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" style="padding:15px 25px">
    <div style="width: 22%;">First Page Content </div>
    <div fxLayout="column">
      <input type="file" (change)="changeFirstPageFile($event)" />
    </div>
    <div>
      <button md-raised-button color="primary" [disabled]="disable_firstpage_button" (click)="uploadFirstPageFile()"
        style="margin-left: 10px;box-shadow: none;color:#fff">Upload</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" style="padding:15px 25px">
    <div style="width: 22%;">Footer</div>
    <div fxLayout="column">
      <input type="file" (change)="changeFooterFile($event)" />

    </div>
    <div>
      <button md-raised-button color="primary" [disabled]="disable_footer_button" (click)="uploadFooterFile()"
        style="margin-left: 10px;box-shadow: none;color:#fff">Upload</button>
    </div>
  </div>


  <div fxLayout="row"  *ngIf="dept_id == 5"fxLayoutAlign="space-between" style="padding:15px 25px">
    <div style="width: 22%;">Crane Pad</div>
    <div fxLayout="column">
      <input type="file" (change)="changeCranePadFile($event)" />

    </div>
    <div>
      <button md-raised-button color="primary" [disabled]="disable_cranepad_button" (click)="uploadCranepadFile()"
        style="margin-left: 10px;box-shadow: none;color:#fff">Upload</button>
    </div>
  </div>

  <div fxLayout="row" *ngIf="dept_id == 5" fxLayoutAlign="space-between" style="padding:15px 25px">
    <div style="width: 22%;">Crane Pad Guideline</div>
    <div fxLayout="column">
      <input type="file" (change)="changeGuidelineFile($event)" />

    </div>
    <div>
      <button md-raised-button color="primary" [disabled]="disable_guideline_button" (click)="uploadGuideline()"
        style="margin-left: 10px;box-shadow: none;color:#fff">Upload</button>
    </div>
  </div>




  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" appendTo="body"></p-confirmDialog>
  <p-dialog header="Message" [(visible)]="display" modal="modal" width="300" [responsive]="true" appendTo="body">
    <p>{{Notification}}</p>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="onNotification()" label="Ok"></button>
    </p-footer>
  </p-dialog>


</div>