<div style="background:#1b5e20;height:40px;"color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <div fxFlex class="header-text" style="font-size: 19px;font-weight: 500;margin-top: 8px;margin-left: 10px;color:white;">{{title}}</div>
    </div>
    <div>
      <md-icon class="material-icons mat-icon" style=" width: calc(100% - 30px);margin-top: 12px;text-align: end;cursor:pointer;font-size: 18px;color:white;margin-right: 10px;"
        (click)="closeDialog()">close</md-icon>
    </div>
  </div>
</div>
<md-dialog-content style="height:420px">
  <div>
  <checklist-add-form (notify)="onNotify($event)" style="padding:20px;" (title)="getTitle($event)"></checklist-add-form>
  </div>
</md-dialog-content>